CreationPatterns/.vs
CreationPatterns/Debug
CreationPatterns/SimpleBuilder/Debug
CreationPatterns/FluentBuilder/Debug
CreationPatterns/FluentBuilderWithIntent/x64
CreationPatterns/SimpleBuilder/x64
CreationPatterns/x64
CreationPatterns/FluentCompositeBuilder/x64
CreationPatterns/FluentBuilder/x64
CreationPatterns/SimpleFactory/x64
CreationPatterns/InnerFactory/x64
CreationPatterns/AbstractFactory/x64
CreationPatterns/FunctionalFactory/x64
CreationPatterns/SimplePrototype/x64
CreationPatterns/SerialisationPrototype/x64
